.hexagon-play-container{
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  a{
    display: block;
    .icon-play{
      width: 80px;
      height: 80px;
      margin: 0 auto;
      left: 95px;
      right: 0;
      position: absolute;
      z-index: 2;

      top: -30px;



      @media all and (max-width: $screen-sm-max) {
        top: -10px;
      }

      @media all and (max-width: $screen-xs-max) {
        top: 30px;
      }

    }
  }
}


.haxagon-container {
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  top: -142px;
  left: 0px;
  animation: spin 3s infinite linear;
  overflow: hidden;
  zoom: .9;

  @media (max-width: $screen-sm-max) {
    top: -115px;
  }

  @media (max-width: $screen-xs-max) {
    top: -70px;
    margin: 0 auto;
    left:0;
    right:0;
  }


}
.haxagon-container .hexagon-piece-container {
  fill: none;
  stroke-width: 5px;
}
.haxagon-container .hexagon-piece-container svg {
  position: absolute;
  width:300px;
  height:300px;
}

.piece-1 {
  animation-delay: 0.3s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+1) {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+1) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.piece-2 {
  animation-delay: 0.6s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+2) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.81);
  transform: scale(0.81);
}

.piece-3 {
  animation-delay: 0.9s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+3) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+3) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.729);
  transform: scale(0.729);
}

.piece-4 {
  animation-delay: 1.2s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+4) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+4) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.6561);
  transform: scale(0.6561);
}

.piece-5 {
  animation-delay: 1.5s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+5) {
  -webkit-transform: rotate(75deg);
  transform: rotate(75deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+5) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.59049);
  transform: scale(0.59049);
}

.piece-6 {
  animation-delay: 1.8s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+6) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+6) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.53144);
  transform: scale(0.53144);
}

.piece-7 {
  animation-delay: 2.1s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+7) {
  -webkit-transform: rotate(105deg);
  transform: rotate(105deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+7) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.4783);
  transform: scale(0.4783);
}

.piece-8 {
  animation-delay: 2.4s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+8) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+8) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.43047);
  transform: scale(0.43047);
}

.piece-9 {
  animation-delay: 2.7s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+9) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+9) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.38742);
  transform: scale(0.38742);
}

.piece-10 {
  animation-delay: 3s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+10) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+10) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.34868);
  transform: scale(0.34868);
}

.piece-11 {
  animation-delay: 3.3s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+11) {
  -webkit-transform: rotate(165deg);
  transform: rotate(165deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+11) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.31381);
  transform: scale(0.31381);
}

.piece-12 {
  animation-delay: 3.6s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+12) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+12) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.28243);
  transform: scale(0.28243);
}

.piece-13 {
  animation-delay: 3.9s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+13) {
  -webkit-transform: rotate(195deg);
  transform: rotate(195deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+13) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.25419);
  transform: scale(0.25419);
}

.piece-14 {
  animation-delay: 4.2s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+14) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+14) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.22877);
  transform: scale(0.22877);
}

.piece-15 {
  animation-delay: 4.5s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+15) {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+15) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.20589);
  transform: scale(0.20589);
}

.piece-16 {
  animation-delay: 4.8s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+16) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+16) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.1853);
  transform: scale(0.1853);
}

.piece-17 {
  animation-delay: 5.1s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+17) {
  -webkit-transform: rotate(255deg);
  transform: rotate(255deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+17) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.16677);
  transform: scale(0.16677);
}

.piece-18 {
  animation-delay: 5.4s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+18) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+18) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.15009);
  transform: scale(0.15009);
}

.piece-19 {
  animation-delay: 5.7s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+19) {
  -webkit-transform: rotate(285deg);
  transform: rotate(285deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+19) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.13509);
  transform: scale(0.13509);
}

.piece-20 {
  animation-delay: 6s;
  animation-name: colorfade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}

.hexagon-piece-container:nth-child(20n+20) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
}
.hexagon-piece-container:nth-child(20n+20) svg {
  -webkit-transform-origin: 150px 150px;
  transform-origin: 150px 150px;
  -webkit-transform: scale(0.12158);
  transform: scale(0.12158);
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }
}
@keyframes colorfade {
  0% {
    stroke: #ed5a24;
  }
  25% {
    stroke:#9f492c;
  }
  50% {
    stroke: #9f492c;
  }
  65% {
    stroke: #ed5a24;
  }
  100% {
    stroke: #ed5a24;
  }
}


/* End Hexagon Animation */






@keyframes minutes-tens {
  0% {
    transform: translateY(-180px);
  }
  16.66667% {
    transform: translateY(-360px);
  }
  33.33333% {
    transform: translateY(-540px);
  }
  50% {
    transform: translateY(-720px);
  }
  66.66667% {
    transform: translateY(-900px);
  }
  83.33333% {
    transform: translateY(-1080px);
  }
}
@keyframes minutes-ones {
  0% {
    transform: translateY(-180px);
  }
  10% {
    transform: translateY(-360px);
  }
  20% {
    transform: translateY(-540px);
  }
  30% {
    transform: translateY(-720px);
  }
  40% {
    transform: translateY(-900px);
  }
  50% {
    transform: translateY(-1080px);
  }
  60% {
    transform: translateY(-1260px);
  }
  70% {
    transform: translateY(-1440px);
  }
  80% {
    transform: translateY(-1620px);
  }
  90% {
    transform: translateY(-1800px);
  }
}
@keyframes seconds-tens {
  0% {
    transform: translateY(-180px);
  }
  16.66667% {
    transform: translateY(-360px);
  }
  33.33333% {
    transform: translateY(-540px);
  }
  50% {
    transform: translateY(-720px);
  }
  66.66667% {
    transform: translateY(-900px);
  }
  83.33333% {
    transform: translateY(-1080px);
  }
}
@keyframes seconds-ones {
  0% {
    transform: translateY(-180px);
  }
  10% {
    transform: translateY(-360px);
  }
  20% {
    transform: translateY(-540px);
  }
  30% {
    transform: translateY(-720px);
  }
  40% {
    transform: translateY(-900px);
  }
  50% {
    transform: translateY(-1080px);
  }
  60% {
    transform: translateY(-1260px);
  }
  70% {
    transform: translateY(-1440px);
  }
  80% {
    transform: translateY(-1620px);
  }
  90% {
    transform: translateY(-1800px);
  }
}
@keyframes hundredths-tens {
  0% {
    transform: translateY(-180px);
  }
  10% {
    transform: translateY(-360px);
  }
  20% {
    transform: translateY(-540px);
  }
  30% {
    transform: translateY(-720px);
  }
  40% {
    transform: translateY(-900px);
  }
  50% {
    transform: translateY(-1080px);
  }
  60% {
    transform: translateY(-1260px);
  }
  70% {
    transform: translateY(-1440px);
  }
  80% {
    transform: translateY(-1620px);
  }
  90% {
    transform: translateY(-1800px);
  }
}
@keyframes hundredths-ones {
  0% {
    transform: translateY(-180px);
  }
  10% {
    transform: translateY(-360px);
  }
  20% {
    transform: translateY(-540px);
  }
  30% {
    transform: translateY(-720px);
  }
  40% {
    transform: translateY(-900px);
  }
  50% {
    transform: translateY(-1080px);
  }
  60% {
    transform: translateY(-1260px);
  }
  70% {
    transform: translateY(-1440px);
  }
  80% {
    transform: translateY(-1620px);
  }
  90% {
    transform: translateY(-1800px);
  }
}